# envs
.chatbot_env
.ptp-entity-extraction
# data
data/cases/*
#data/outputs/entity_extraction/*
data/outputs/tickets/*
#data/outputs/ticket_classification/*
data/inputs/secrets/secrets.txt
# models
data/inputs/models/*
# pycache
*__pycache__*
# .vscode
.vscode/*
